<!DOCTYPE html>
<html>

<head>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161203985-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-161203985-1');
    </script>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Myths</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/gallery-grid.css">

    <!--Start of Tawk.to Script-->

    <!--End of Tawk.to Script-->


    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>

    <header>
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light" style="max-width:100%" ;>
            <a class="navbar-brand" href="#">
                <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
                REALTIME CORONA-VIRUS DATA
            </a>
        </nav>


        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/instruction">instruction</a></li>
                <li class="breadcrumb-item"><a href="/myth">Myth-Buster</a></li>
                <li class="breadcrumb-item"><a href="/search">SearchByCountry</a></li>
            </ol>
        </nav>

    </header>




    <div class="container gallery-container">

        <h1>COVID-19 virus can be transmitted in areas with hot and humid climates</h1>

        <p class="page-description text-center">From the evidence so far, the COVID-19 virus can be transmitted in ALL
            AREAS, including areas with hot and humid weather. Regardless of climate, adopt protective measures if you
            live in, or travel to an area reporting COVID-19. The best way to protect yourself against COVID-19 is by
            frequently cleaning your hands. By doing this you eliminate viruses that may be on your hands and avoid
            infection that could occur by then touching your eyes, mouth, and nose.</p>
        <center> <b>zz
                <p class="page-description text-center">" This Page gives you clear Idea about Some of the Myths about
                    COVID-19 "</p>
        </center></b>

        <center>
            <b>
                <p>Click on the images for preview</p>
            </b>
        </center>
        <div class="tz-gallery">

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="/mythbuster/1.png">
                        <img src="/mythbuster/1.png" alt="Park">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="/mythbuster/2.png">
                        <img src="/mythbuster/2.png" alt="Bridge">
                    </a>
                </div>
                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="/mythbuster/3.png">
                        <img src="/mythbuster/3.png" alt="Tunnel">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="/mythbuster/4.png">
                        <img src="/mythbuster/4.png" alt="Coast">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="/mythbuster/5.png">
                        <img src="/mythbuster/5.png" alt="Rails">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="/mythbuster/6.png">
                        <img src="/mythbuster/6.png" alt="Traffic">
                    </a>
                </div><br><br>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="/mythbuster/7.png">
                        <img src="/mythbuster/7.png" alt="Rocks">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="/mythbuster/8.png">
                        <img src="/mythbuster/8.png" alt="Benches">
                    </a>
                </div>


                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="/mythbuster/9.png">
                            <img src="/mythbuster/9.png" alt="Park">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="/mythbuster/10.png">
                            <img src="/mythbuster/10.png" alt="Bridge">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <a class="lightbox" href="/mythbuster/11.png">
                            <img src="/mythbuster/11.png" alt="Tunnel">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="/mythbuster/12.png">
                            <img src="/mythbuster/12.png" alt="Coast">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="/mythbuster/13.png">
                            <img src="/mythbuster/13.png" alt="Rails">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="/mythbuster/14.png">
                            <img src="/mythbuster/14.png" alt="Traffic">
                        </a>
                    </div><br><br>


                </div>

            </div>
            <h3>Source: <b>WHO</b>(WORLD HEALTH ORGANIZATION)</h3>
        </div>



        <br><br>
        <div class="footer">

            <p>developer contact: <a href="https://arbazahmed.ml/">ArbazAhmed.ml</a></p>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
        <script>
            baguetteBox.run('.tz-gallery');
        </script>
</body>

</html>